:root {
    --main-text: rgb(76, 93, 119);
    --primary: rgb(148, 208, 203);
    --secondary: rgb(47, 48, 54);
    --main-bg: rgba(225, 225, 225, 0.867);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-bg);
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    background-color: var(--primary);
    padding: 20px 5px 20px;
    justify-content: flex-start;
    align-self: center;
}

/* Nav */
header nav {
display: flex;
 justify-content: flex-end;
 align-items: center;
 padding: 0 50px;

}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin: 5px;
    padding: 5px;
    border-bottom: solid 2px var(--primary);
}

header nav ul li a {
    color: var(--primary);
}

/* Banner */
.hero {
    display: flex;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-pixabay-270348.jpg");
    background-size: cover;
    background-position: center;

}

.hero .avatar {
    max-height: 200px;
    padding: 0 20px;
    align-self: center;
}

.hero .subtitle {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    height: 50px;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
}

 .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
} 

h3 {
    font-size: 36px;
    color:var(--main-text);
    border-right: solid var(--main-text);
    padding: 0 10px;
    text-align: right;
    width: 20%;
}

/* About Me */

#about-me p {
    width: 80%;
    padding: 0 0 0 15px;
    color: var(--secondary)
}

/* Work */
#work {

}

#work .cards {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    border: var(--primary) solid 5px;
    max-width: 80%;
}

#crochet-club {
    background-image: ;
}

/* Contact Me */
#contact-me ul{
    list-style-type: none;
    display: flex;
}

#contact-me ul li a {
    color: var(--main-text)
    flex-direction: wrap;
    justify-content: space-around;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
    }
}