:root {
    --main-text: rgb(76, 93, 119);
    --primary: rgb(148, 208, 203);
    --secondary: rgb(47, 48, 54);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--secondary);
    display: flex;
    padding: 20px;
}

header h1 {
    background-color: var(--primary);
    padding: 20px 20px;
    align-self: center;

}

/* Nav */
header nav {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding: 0 50px;
 height: 75px;

}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 12px;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: var(--primary);
}

/* Banner */
div {
}

div h2 {
    background-color: var(--primary);
}

/* Main Content */
h3 {
    font-size: 36px;
    color:var(--main-text);
    border-right: solid var(--main-text);
    padding: 10px;
}

 .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
} 

/* About Me */
#about-me {
    display: flex;
}

#about-me p {
    
}

/* Work */
#work {

}

#work div .cards {
    border: var(--primary) solid 5px;
    display: flex;
}

#work {
}

/* Contact Me */
#contact-me ul{
    list-style-type: none;
    display: flex;
}

#contact-me ul li a {
    color: var(--main-text)
    flex-direction: wrap;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
    }
}